.Rproj.user/
text/bvar_mt/bayes_all.zip

text/bvar_mt/bayes_var.log

text/bvar_mt/bayes_var.aux

text/bvar_mt/bayes_var.synctex.gz

text/bvar_mt/bayes_var.tex
text/bvar_mt/cache/
text/bvar_mt/figure/
text/mal_art/text_BVAR3.aux

text/mal_art/text_BVAR3.log

text/mal_art/text_BVAR3.out

text/mal_art/text_BVAR3.synctex.gz

text/SVAR/svar.aux

text/SVAR/svar.bbl

text/SVAR/svar.blg

text/SVAR/svar.log

text/SVAR/svar.synctex.gz

text/SVAR/svar.toc

articles/SVAR/svar.aux

*.bbl

*.blg

articles/SVAR/svar.log

*.gz

*.toc
.Rproj.user

.Rhistory

data/~$data_bvar_2015.xlsx

text/mal_art/text_BVAR3.bcf

text/mal_art/text_BVAR3.run.xml

data/~$adjusted_data_x.xlsx

text/mal_art/text_BVAR4.run.xml

text/mal_art/text_BVAR4.out

text/mal_art/text_BVAR4.bcf

text/mal_art/text_BVAR4.aux

text/mal_art/text_BVAR4.log

estimation/*.csv

estimation/models/*.Rds

*.aux

*.bcf

text/mal_art/text_BVAR.log

*.out

text/mal_art/text_BVAR.run.xml

text/code_description/matrices_in_bvar_om.log

text/code_description/matrices_in_bvar_om.run.xml

text/mal_art/text_BVAR.tdo

text/bvar_mapping/bvar_mapping.run.xml

text/bvar_mapping/bvar_mapping.tdo

text/mal_art/text_BVAR.fls

text/mal_art/text_BVAR.fdb_latexmk

text/bvar_mapping/bvar_mapping.fdb_latexmk

text/bvar_mapping/bvar_mapping.fls

text/bvar_mapping/bvar_mapping.log

text/forecasting_eng/text_BVAR_forecasting.run.xml


estimation/tables_rmsfe/forecasts*.Rds
estimation/tables_rmsfe/best*.Rds
estimation/tables_rmsfe/loss*.Rds
estimation/tables_rmsfe/model_info*.Rds


estimation/tables_rmsfe/tables_rmsfe_raw.Rds

estimation/tables_rmsfe/tables_rmsfe_raw.Rds
